<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'orderd' %}">
  <table class="table table-striped">
    <tr>
      <td>medicine </td>
      <td>&nbsp;{{val.medicinename}}</td>
    </tr>
    <tr>
      <td>stock</td>
      <td>&nbsp;{{val.stock}}</td>
    </tr>
    <tr>
      <td>Expdate</td>
      <td>&nbsp;{{val.expdate}}</td>
    </tr>

    <tr>
      <td>qty</td>
      <td><label>
        <input type="text" name="textfield" required class="form-control"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="order" class="btn btn-info"/>
        </label>
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
