<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'pharindex.html' %}
{% block body %}
<body>
<form action="files" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-striped">
    <tr>
      <td>User</td>
      <td><label>
        <select name="select">
          {% for i in val %}
          <option value="{{i.id}}">{{i.firstname}} {{i.lastname}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>file</td>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Send" class="btn btn-info"/>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
