<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'pharindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <td>User</td>
      <td>Medicine</td>
      <td>Date</td>
      <td>Qty</td>
      <td>&nbsp;</td>
    </tr>{% for i in val %}
    <tr>
      <td>&nbsp;{{i.uid.firstname}}</td>
      <td>&nbsp;{{i.mid.medicinename}}</td>
      <td>&nbsp;{{i.date}}</td>
      <td>&nbsp;{{i.quantity}}</td>
      <td>{% if i.status == 'pending' %}
        <p><a href="{% url 'accept' id=i.id %}">Accept</a></p>
      <p><a href="{% url 'reject' id=i.id %}">Reject</a></p>
      {% elif i.status == 'reject' %}REJECTED
          {% else %}ACCEPTED
          {% endif %}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
