<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head> -->
{% extends 'adminindex.html' %}
{% block body %}
<!-- <body>
<form id="form1" name="form1" method="post" action=""> -->
  <!-- <p><a href="managedesignation">Manage Designation</a></p>
  <p><a href="managestaff">Manage Staff</a> </p>
  <p><a href="managehealth">Manage Health Care Team</a></p>
  <p><a href="sendnotification">Send Notification</a></p>
  <p><a href="viewattendance">View Attendance</a></p>
  <p><a href="#">View Facial emotion & depression level</a></p>
  <p><a href="viewcomplaints">View Complaints</a></p>
  <p><a href="/">logout</a></p>
</form> -->
<!-- </body> -->
{% endblock %}
<!-- </html> -->
