<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head> -->
{% extends 'healthindex.html' %}
{% block title %}
<a href="#form1">form1</a>
{% endblock %}

{% block body %}
<body>

  {% if data['re'] %}
  <form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <td>name</td>
      <td><label>
        <input type="text" name="textfield" value="{{data['re'][0]['name']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>qualification</td>
      <td><label>
        <input type="text" name="textfield2" value="{{data['re'][0]['Qualific']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>phone</td>
      <td><label>
        <input type="text" name="textfield3" value="{{data['re'][0]['phone']}}"/>
      </label></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input type="text" name="textfield4" value="{{data['re'][0]['email']}}"/></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="edit" />
      </label></td>
    </tr>
  </table>
</form>

{% else %}
<h2>Profile</h2>

  <table class="table table-striped">
    <tr>
      {% for i in data['r'] %}
      <td>name:{{i['name']}}</td>
    </tr>
    <tr>
      <td>Qualification:{{i['Qualific']}}</td>
    </tr>
    <tr>
      <td>phone:{{i['phone']}}</td>
    </tr>
    <tr>
      <td>email:{{i['email']}}</td>
    </tr>
    <tr>
      <td>
        <a href="?action=update&id={{i['id']}}">edit </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %} 


  

</body>
{% endblock %}
<!-- </html> -->
